@font-face {
    font-family: Manrope;
    font-weight: normal;
    src: url("../fonts/Manrope-Medium.ttf");
}

body {
    background: #fafafa;
    color: #111;
    font-family: Manrope, Roboto, sans-serif!important;
    overflow-x: hidden;
    margin: 0;
}

button {
    font-family: Manrope, Roboto, sans-serif;
}

.shared-image {
    width: 600px;
    border-radius: 4px;
}

.shared-image, .shared-file {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: box-shadow 0.2s ease, opacity 150ms ease;
    max-width: calc(100% - 48px);
    margin: 0 auto;
    position: relative;
}

.shared-image.not-loaded {
    opacity: 0.7;
}

.shared-file.not-loaded {
    opacity: 0.7;
}

.not-loaded {
    cursor: progress;
}

.shared-image:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#file-dropzone-container {
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#file-input {
    display: none;
}

.upload-area {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.upload-area.highlight {
    background: #eee;
}

/*fallback form for old browsers*/

#upload-form {
    display: none;
}

#shared-files {
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    justify-content: center;
    align-items: center;
}

#auth-status-container {
    position: absolute;
    right: 8px;
    top: 8px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    user-select: none;
    background: #fff;
}

#profile-picture {
    border-radius: 50%;
    width: 44px;
    margin-right: 16px;
    height: 44px;
}

#drop-event-catcher {
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

#drop-event-catcher.active {
    pointer-events: initial;
}

#username {
    margin: 0;
    font-weight: bold;
}

#email {
    margin: 0;
    color: #666;
}

#sign-in-status {}

#sign-out-button {
    color: #f44336;
    border: none;
    background: none;
    width: 44px;
    height: 44px;
    margin-left: 16px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

#sign-in-button {
    border: none;
    background: none;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin: auto;
    display: block;
    outline: none;
    font-size: 100%;
    font-weight: bold;
    padding: 10px;
    background: white;
    border-radius: 4px;
    transition: box-shadow 200ms ease;
}

#sign-in-button:hover {
    box-shadow: rgba(50, 50, 93, 0.3) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#login-container {
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#login-container>div {
    border: 1px #666 solid;
    padding: 32px;
    border-radius: 6px;
    max-width: calc(100vw - 80px);
}

#login-container>h1 {
    font-weight: bold;
}

#firebaseui-auth-container {
    margin-top: 24px;
}

#homepage-title {
    text-align: center;
}

#homepage-title>h1 {
    font-size: 400%;
    margin: 0;
}

#homepage-title h2 {
    margin: 0;
    margin-bottom: 24px;
}

.mdl-button {
    font-family: Manrope, Roboto, sans-serif;
}

#firebase-auth-centerer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--vh, 1vh) * 100);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}

.shared-file {
    background: #fff;
    border-radius: 8px;
    padding: 16px;
    color: black;
    text-decoration: none;
}

.shared-file h1 {
    display: inline;
}

.download-button {
    padding: 0;
    font-size: 36px;
    border: none;
    outline: none;
    background: none;
    position: relative;
    top: 6px;
    margin-left: 12px;
    cursor: pointer;
}