@font-face {
    font-family: Manrope;
    src: url("../fonts/Manrope-Medium.ttf");
}

body {
    background: #fff;
    color: #111;
    font-family: Manrope, sans-serif;
    overflow: hidden;
}

.shared-image {
    width: 600px;
    max-width: calc(100% - 8px);
    margin: 0 auto;
    position: relative;
    border-radius: 4px;
    transition: box-shadow 0.2s ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.shared-image:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#file-dropzone-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#file-input {
    display: none;
}

.upload-area {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.upload-area.highlight {
    background: #333;
}

/*fallback form for old browsers*/
#upload-form {
    display: none;
}

#shared-files {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -8px;
    margin-top: -8px;
}

#auth-status-container {
    position: absolute;
    right: 8px;
    top: 8px;
}